<nav class="navbar navbar-light">
	<div class="container">
		<a class="navbar-brand" [routerLink]="['/']">conduit</a>
		<ul class="nav navbar-nav pull-xs-right">
			<li class="nav-item">
				<a class="nav-link" [routerLink]="['/']" routerLinkActive="active">Home</a>
			</li>
			<ng-container *ngIf="isLoggedIn$ | async; else notLoggedIn">
				<li class="nav-item">
					<a class="nav-link" [routerLink]="['/articles/new']">
						<i class="ion-compose"></i>&nbsp;New Article
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" [routerLink]="['/settings']">
						<i class="ion-gear-a"></i>&nbsp;Settings
					</a>
				</li>
				<li class="nav-item" *ngIf="currentUser$ | async as currentUser">
					<a class="nav-link" [routerLink]="['/profiles', currentUser.username]">
						<img class="user-pic" [src]="currentUser.image" />
						&nbsp; {{ currentUser.username }}
					</a>
				</li>
			</ng-container>

			<ng-template #notLoggedIn>
				<li class="nav-item">
					<a class="nav-link" [routerLink]="['/login']">Sign in</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" [routerLink]="['/register']">Sign up</a>
				</li>
			</ng-template>
		</ul>
	</div>
</nav>
